{% extends 'pages/layout/base.html' %}
{% load static %}


{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/pages/learn.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    {% for course in list_course %}
      <div class="col-xl-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="{% url 'lesson-detail' course.slug %}" class="btn btn-danger">Learn</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block jsblock %}

{% endblock %}