{% extends 'pages/layout/base.html' %}
{% load static %}


{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/pages/problems.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-9 p-2">
      <h2></h2>
      <table class="table table-hover column">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 p-2">
      <div class="column p-1 pt-3 pb-3">
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
        <span class="category-tag">BFS</span>
      </div>
    </div>
  </div>
{% endblock %}

{% block jsblock %}

{% endblock %}