{% extends 'pages/layout/base.html' %}
{% load static %}


{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/pages/problems.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-9 p-2">
      <div class="column">
        <h3 class="table-head">Problems List</h3>
        <table id="problemsTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Level</th>
              <th scope="col">Tag</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            {% for ex in exercise %}
            <tr>
              <th scope="row">{{ ex.id }}</th>
              <td><a class="link-color" href="{% url 'exercise' ex.slug %}">{{ ex.name }}</a></td>
              <td><span class="level level-{{ ex.level }}">{{ ex.level }}</span></td>
              <td>@{{ ex.category }}</td>
              <td>{{ ex.author }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3 p-2">
      <div class="column">
        <h3 class="table-head">Category</h3>
        <div class="tag pl-3 pr-3 pb-3">
          <button class="category-tag mb-2 transition-3">BFS</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jsblock %}

{% endblock %}