{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap4/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'lib/fontawesome5.15/css/all.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!--===============================================================================================-->

    {% block cssblock %}
    {% endblock %}

</head>
<body>

    {% include 'pages/layout/header.html' %}

    <canvas id="canvas"></canvas>

    <div id="content-wrap">
        {% block content %}
        {% endblock %}
    </div>



    {% include 'pages/layout/footer.html' %}

    <!--===============================================================================================-->
	<script src="{% static 'lib/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'lib/bootstrap4/js/popper.js' %}"></script>
    <script src="{% static 'lib/bootstrap4/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/common.js' %}"></script>
    <!--===============================================================================================-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!--===============================================================================================-->

    {% block jsblock %}
    {% endblock %}
    
</body>
</html>